<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ existePerfil ? 'Actualizar Mi Perfil' : 'Crear Mi Perfil' }}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content style="margin-top: 20px;">
      <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre">
          <mat-error *ngIf="perfilForm.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido">
          <mat-error *ngIf="perfilForm.get('apellido')?.hasError('required')">El apellido es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Edad</mat-label>
          <input matInput type="number" formControlName="edad">
          <mat-error *ngIf="perfilForm.get('edad')?.hasError('required')">La edad es obligatoria</mat-error>
          <mat-error *ngIf="perfilForm.get('edad')?.hasError('min')">Debe ser mayor a 0</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="correo">
          <mat-error *ngIf="perfilForm.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
          <mat-error *ngIf="perfilForm.get('correo')?.hasError('email')">Formato inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="Ej: 12345678">
          <mat-error *ngIf="perfilForm.get('telefono')?.hasError('required')">El teléfono es obligatorio</mat-error>
          <mat-error *ngIf="perfilForm.get('telefono')?.hasError('pattern')">Debe tener exactamente 8 dígitos</mat-error>
        </mat-form-field>

        <div *ngIf="mensajeExito" style="color: white; background-color: #4caf50; padding: 10px; margin-bottom: 15px; border-radius: 4px; text-align: center;">
          {{ mensajeExito }}
        </div>
        <div *ngIf="mensajeError" style="color: white; background-color: #f44336; padding: 10px; margin-bottom: 15px; border-radius: 4px; text-align: center;">
          {{ mensajeError }}
        </div>

        <button mat-raised-button color="accent" type="submit" style="width: 100%; padding: 25px 0; font-size: 16px;">
          {{ existePerfil ? 'Actualizar Perfil' : 'Guardar Perfil' }}
        </button>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>