<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    
    <mat-card-content style="margin-top: 20px;">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="correo">
          <mat-error *ngIf="loginForm.get('correo')?.hasError('required')">El correo es obligatorio</mat-error>
          <mat-error *ngIf="loginForm.get('correo')?.hasError('email')">Debe ser un correo válido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contrasena">
          <mat-error *ngIf="loginForm.get('contrasena')?.hasError('required')">La contraseña es obligatoria</mat-error>
        </mat-form-field>

        <div *ngIf="mensajeError" style="color: white; background-color: #f44336; padding: 10px; margin-bottom: 15px; border-radius: 4px; text-align: center;">
          {{ mensajeError }}
        </div>

        <button mat-raised-button color="primary" type="submit" style="width: 100%; padding: 25px 0; font-size: 16px;">
          Ingresar
        </button>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>
